<h1>Editing team</h1>

<%= render 'forms' %>

<%= link_to 'Show', @team %> |
<a href="/teams">Cancel</a>

<script id="player-template" type="text/x-handlebars-template">
  <li>{{name}}</li>
</script>

<script id="game-template" type="text/x-handlebars-template">
  <li>{{date}}|{{opponent}}|{{score_for}}|{{score_against}}|{{home_away}}</li>

</script>
