<div class="starter-template">
  <h1>Welcome to Football Teams!</h1>
  <p class="lead">
    Create Football Teams, with Players and Games.
  </p>
  <p>
    <a href="/teams" class="btn btn-primary">
      View Teams
    </a>
  </p>
</div>
